<div class="modal-header">
  <h4 class="modal-title">EDITAR DISTRITO</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formDistrito">
      <h5>Datos generales</h5>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
              <div class="form-group">
                  <label for="nombre">Nombre de Distrito*</label>
                  <input id="nombre" class="form-control form-control-sm" formControlName="nombre"
                      [ngClass]="{ 'is-invalid': submitted && formDistrito.get('nombre')?.invalid }"
                      autocomplete="off">
                  <div *ngIf="submitted && formDistrito.get('nombre')?.invalid" class="invalid-feedback">
                      Nombre de Distrito es requerido
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-success" (click)="close()">Salir</button>
  <button type="button" class="btn btn-sm btn-success" (click)="actualizarDistrito()">Guardar Cambios</button>
</div>
