<div class="container-fluid">
    <div class="block-header text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                Listado de Tipo Evento
                </h2>
            </div>
        </div>
    </div>
  
    <div class="row clearfix mt-2">
        <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="body">
  
                <!-- <div class="form-btn">
  
                    <button class="btn btn-sm btn-success mr-2" (click)="OpenModalNuevoDistrito()">
                    <i class="fa fa-file"></i> Nueva
                    </button>
  
                </div> -->
  
            <!-- <hr/> -->
  
            <form [formGroup]="filterTipoEvento">
            <div class="row align-items-end">
  
                <div class="col-12 col-sm-4 col-md-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="nombreTipoEvento">Nombre Tipo Evento</label>
                                <input type="text" id="nombreCliente" class="form-control form-control-sm"
                                    formControlName="nombreTipoEvento">
                        </div>
                    </div>
                </div>
  
                </div>
            </form>
            <hr/>
  
            <div class="col-12 text-right">
                <button type="button" class="btn btn-warning mr-2" (click)="OpenModalNuevoCliente()">
                    <i class="fa fa-plus-circle"></i> Nuevo Tipo Evento</button>
            </div>
  
            <div class="row mt-2 mb-2">
  
                <div class="table-responsive mb-2">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th hidden="true">Tipo Evento Id</th>
                        <th>Nombre de Tipo Evento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="tipoEventoList.length > 0">
                    <ng-container *ngFor="let tipoEvento of tipoEventoList ">
                        <tr class="strip">
                        <td hidden="true">{{ tipoEvento.idtipo_evento }}</td>
                        <td>{{ tipoEvento.nombre }}</td>
                        <td>
                          <a type="button" class=" mt-1 cursor-pointer" (click)="OpenModalEditarTipoEvento(tipoEvento)"><i
                            class="fa fa-pencil"></i></a> |
                          <a type="button" class=" mt-1 cursor-pointer" (click)="EliminarTipoEventoAlert(tipoEvento)"><i
                          class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            </div>
        </div>
            </div>
        </div>
    </div>
  </div>
  